<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="creditGuard" type="CreditGuard.CreditGuardConfiguration"/>
    </configSections>

    <creditGuard>
        <version value="1"/>
        <debug value="true"/>
        <terminalURI value=""/>
        <terminalNumber value=""/>
        <terminalUser value=""/>
        <terminalPass value=""/>
    </creditGuard>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
