/*** HEADER ***/
body {background-image:url(../images/header_bg.jpg);}
#header #moduleHeader a,
#header #moduleHeader a:hover {color:#534741;}

/*** START PAGE ***/
#flashIntro {background:#c0bcb9 url(../../images/lobby_bg.jpg) repeat-x;height:254px;}

#signupButton {left:40px;bottom:15px;}

#loginBox {background-image:url(../images/login_bg.jpg);}
#loginBox .loginHeader {color:#fff;}
#loginBox .forgotPassword a,
#loginBox .forgotPassword a:hover {color:#534741;}

a.signinButton {background:transparent url(../images/button_signin_right.png) no-repeat scroll top right;}
a.signinButton span {background:transparent url(../images/button_signin_left.png) no-repeat;} 

/* tabs */
.tabs {background-image:url(../images/tabs_bg.jpg);}
ul.tabNavigation li a:hover {color:#1cbbb4;}
.tabContent h3 {color:#534741;}
.tabContent a {color:#534741;}
.tabPreview img {/*border-color:#534741;*/}
.signupLink a {background-image:url(../images/sign_up_now_big.png);}

/*** LOGIN ***/
#loginFrame a.buttonSignIn {background-image:url(../images/sign_in.gif);}
#loginFrame a.buttonRemindMe {background-image:url(../images/remind_me.png);}
#loginFrame .frameTitle {color:#534741;}

/*** FORM ***/
h1 {background-color:#534741;}
h2 {background-color:#534741;}

.arrowinner {background: url(../images/arrow.jpg) no-repeat; width:100px;height:100px;margin:150px 0 0 30px;}

.Total {color:#534741;}

/* buttons */
a.button {background:transparent url(../images/button_right.png) no-repeat scroll top right;}
a.button span {background:transparent url(../images/button_left.png) no-repeat;}

/* system messages */
.systemMessages {border-color:#756c67;}
.close {background-color:#756c67;}

/* color picker */
.colorwell-selected {border-color:#756c67;}

/* switch */
.cb-enable, .cb-disable, .cb-enable span, .cb-disable span {background-image:url(../images/switch.gif);}

/* slider */
.slider .track {background-image:url(../images/slider_bg.jpg);}

/*** NAVIGATION ***/
#navigation {background-image:url(../images/navigation_bg.png);}
/*.navigation ul li {background-image:url(../images/navigation_separator.png);}*/
.navigation ul li a:hover {color:#1cbbb4;}
.navigation ul li.selected a:hover {color:#534741;}

/* sub navigation */
.subNavigation ul li a {color:#534741;}
.subNavigation ul li a:hover {color:#1cbbb4;}

/* bread crambs */
#breadCrambs a {color:#534741;}

/*** GRID ***/
.grid {border-color:#e8f8f7;}
.headingCell {background-color:#edebec;border-bottom-color:#ececea;}
.headingCellText {color:#534741;}
.dataCell {border-bottom-color:#ececea;}
.summaryRow td {background:#ebf0e9;}
a.action {color:#534741;}
a:hover.action {color:#534741;}

/* filters */
.filter {color:#534741;}

/* information */
.gridActions a {color:#534741;}
.gridActions a:hover {color:#1cbbb4;}

/* summary table */
.summaryTable th {background-color:#534741;}
