<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <!-- NLog -->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target name="eventViewr" xsi:type="EventLog" layout="${longdate} - ${level}${newline}${newline}${message}${newline}${newline}Caller:${newline}${callsite}${newline}${newline}StackTrace:${newline}${stacktrace}${newline}${newline}Exception:${newline}${exception:format=Message,Type,Method,StackTrace:separator=,}" source="ExchangeWCF" log="AdsCaptcha"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Error" writeTo="eventViewr"/>
    </rules>
  </nlog>
  <appSettings>
    <add key="YBrantURLScript" value=""/>
    <add key="YBrantURLNew" value=""/>
    <add key="ExchangeConfigPath" value=""/>
  </appSettings>
  <connectionStrings/>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Runtime.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    
        <customErrors mode="RemoteOnly">
        
        </customErrors>
      
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="AdsCaptcha.ExchangeWCF.ExchangeServiceBehavior" name="AdsCaptcha.ExchangeWCF.ExchangeService">
        <!--endpoint address="" binding="wsHttpBinding" contract="AdsCaptcha.ExchangeWCF.IExchangeService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint-->
        <endpoint address="" binding="basicHttpBinding" contract="AdsCaptcha.ExchangeWCF.IExchangeService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Inqwise.AdsCaptcha.ExchangeWCF.ExchangeServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>