<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="secureWebPages" type="Ventaur.Web.Security.Configuration.SecureWebPageSettings, WebPageSecurity" />
    <section name="creditGuard" type="CreditGuard.CreditGuardConfiguration" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AdsCaptcha.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
	<!-- Credit Guard -->
  <creditGuard>
    <version value=""/>
    <debug value="false"/>
    <terminalURI value=""/>
    <terminalNumber value=""/>
    <terminalUser value=""/>
    <terminalPass value=""/>
  </creditGuard>
  <!-- NLog -->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target name="eventViewr" xsi:type="EventLog" layout="${longdate} - ${level}${newline}${newline}${message}${newline}${newline}Caller:${newline}${callsite}${newline}${newline}StackTrace:${newline}${stacktrace}${newline}${newline}Exception:${newline}${exception:format=Message,Type,Method,StackTrace:separator=,}" source="Admin" log="AdsCaptcha"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Error" writeTo="emailGmx"/>
      <logger name="*" minlevel="Trace" writeTo="eventViewr"/>
    </rules>
  </nlog>
  <appSettings>
    <!-- DB -->
    <add key="ConnectionString" value="" />
    <add key="ConnectionStringUserData" value="" />
		<!-- URLs -->
        <add key="Site" value="" />
        <add key="URL" value="" />
        <add key="API" value="" />
        <add key="Admin" value="" />
        <!-- Environment -->
		<add key="Version" value="1.0.0.0" />
    <add key="Environment" value="Dev" />
    <add key="Path" value="" />
		<add key="AllowAdvertisersSignUp" value="true" />
		<add key="UnderMaintenance" value="false" />
		<!-- Email -->
		<add key="AdminEmail" value="" />
		<add key="SupportEmail" value="" />
		<!-- SMTP -->
		<add key="MailMethod" value="SMTP" /> <!-- SMTP or DB -->
		<add key="SmtpServer" value="" />
		<add key="SmtpPort" value="" />
    <add key="SmtpSSL" value="true" />
		<add key="SmtpUser" value="" />
		<add key="SmtpPass" value="" />
    <add key="AuditEmail" value=""/>
		<!-- Components -->
        <add key="amcharts_net_key" value="AMCHART-NETL-2113-5889-4546-6524" />
        <add key="ComponentArtScriptControls" value="Grid,Menu,Calendar,SiteMap,TabStrip,Slider" />
        <!-- SSL -->
        <add key="SSL_GoDaddy_Seal_Id" value="LQ5ZnHZ0SbSpjp2DNoOuuU4BsfPj0HhD4WEb9LQ3lgJWydF2iDmLX" />
        <!-- PayPal -->
		<add key="PayPal_Account" value=""/>
		<add key="PayPal_Url" value=""/>
		<add key="PayPal_Notify_Url" value=""/>
		<!-- Amazon Cloud -->
    <add key="AWSBucketName" value=""/>
    <add key="AWSAccessKey" value="" />
    <add key="AWSSecretKey" value="" />
    <add key="AWSDomainName" value="" />
    <add key="AWSBucketUrl" value="" />
		<add key="AWSCloudFront" value="http://cdn.com/" />
    <add key="TempUploadFolder" value=""/>
    <add key="ImagesBaseFolder" value=""/>
    <add key="AWSReducedRedundancy" value="false" />
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="EmailTemplatesFolder" value=""/>
    <!--Redis-->
    <add key="Redis.ServerIP" value="" />
    <add key="Redis.ServerPort" value="16379" />
    <add key="ElasticSearch.Url" value="" />
  </appSettings>
	<connectionStrings>
	</connectionStrings>
  	<system.web>
  		<httpRuntime targetFramework="4.5" />
		<sessionState mode="InProc" cookieless="false" timeout="720" />
		<compilation debug="true" defaultLanguage="c#" targetFramework="4.5">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
		<authentication mode="Windows" />
        <customErrors mode="RemoteOnly" defaultRedirect="ErrorPage.aspx">
            <error statusCode="404" redirect="ErrorPage.aspx?code=404" />
        </customErrors>
        <globalization uiCulture="en" culture="en-US" />
		<!--pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</controls>
        </pages-->
    <httpHandlers>
      <add type="ComponentArt.Web.UI.ScriptHandler,ComponentArt.Web.UI" path="ComponentArtScript.axd" verb="*"/>
    </httpHandlers>
    <httpModules>
      <add name="WebPageSecurity" type="Ventaur.Web.Security.SecureWebPageModule, WebPageSecurity"/>
    </httpModules>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    </system.web>
	<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="UploaderSoap"/>
        <binding name="BasicHttpBinding_IImageProcessing"/>
      </basicHttpBinding>
    </bindings>
    <client>
    </client>
  </system.serviceModel>
	<!--system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
		</compilers>
	</system.codedom-->
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="WebPageSecurity" type="Ventaur.Web.Security.SecureWebPageModule, WebPageSecurity" />
    </modules>
    <handlers>
      <add name="ComponentArtScriptHandler" type="ComponentArt.Web.UI.ScriptHandler,ComponentArt.Web.UI" path="ComponentArtScript.axd" verb="*" />
    </handlers>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
        </httpErrors>
        <directoryBrowse enabled="false" />
        <defaultDocument enabled="true">
            <files>
                <clear />
                <add value="Index.aspx" />
                <add value="StartPage.aspx" />
                <add value="Index.html" />
                <add value="Default.aspx" />
                <add value="index.asp" />
            </files>
        </defaultDocument>

  <httpRedirect enabled="false" destination="" exactDestination="true" childOnly="false" httpResponseStatus="Permanent"/>
	</system.webServer>
	<secureWebPages mode="Off" encryptedUri="" unencryptedUri="" maintainPath="True" warningBypassMode="AlwaysBypass" bypassQueryParamName="BypassSecurityWarning" ignoreHandlers="WithStandardExtensions">
		<files>
      <add path="Advertiser/SignUp.aspx" secure="Secure" />
			<add path="Advertiser/BillingCreditCard.aspx" secure="Secure" />
			<add path="Publisher/PaymentPreferences.aspx" secure="Secure" />
			<add path="Developer/PaymentPreferences.aspx" secure="Secure" />
		</files>
		<directories>
			<add path="/" recurse="True" secure="Ignore" />
		</directories>
	</secureWebPages>
	<applicationSettings>
        <AdsCaptcha.Properties.Settings>
            <setting name="AdsCaptcha_DemoImageUploader_Uploader" serializeAs="String">
                <value></value>
            </setting>
			<setting name="AdsCaptcha_ImageProcessing_ImageProcessing" serializeAs="String">
				<value></value>
			</setting>
        </AdsCaptcha.Properties.Settings>
    </applicationSettings>
</configuration>