<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="secureWebPages" type="Ventaur.Web.Security.Configuration.SecureWebPageSettings, WebPageSecurity" />
    <section name="creditGuard" type="CreditGuard.CreditGuardConfiguration" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <!-- Credit Guard -->
  <creditGuard>
    <version value="1001" />
    <debug value="true" />
    <terminalURI value="https://veripayapi.creditguard.co.il/xpo/Relay" />
    <terminalNumber />
    <terminalUser />
    <terminalPass />
  </creditGuard>
  <!-- NLog -->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target name="eventViewr" xsi:type="EventLog" layout="${longdate} - ${level}${newline}${newline}${message}${newline}${newline}Caller:${newline}${callsite}${newline}${newline}StackTrace:${newline}${stacktrace}${newline}${newline}Exception:${newline}${exception:format=Message,Type,Method,StackTrace:separator=,}" source="Admin" log="AdsCaptcha" />
    </targets>
    <rules>
      <logger name="*" minlevel="Error" writeTo="emailGmx" />
      <logger name="*" minlevel="Trace" writeTo="eventViewr" />
    </rules>
  </nlog>
  <appSettings>
    <!-- URLs -->
    <add key="URL" value="" />
    <add key="API" value="" />
    <add key="Admin" value="" />
    <!-- Environment -->
    <add key="Version" value="1.0.0.0" />
    <add key="Environment" value="Dev" />
    <add key="Path" value="" />
    <!-- Email -->
    <add key="AdminEmail" value="" />
    <add key="SupportEmail" value="" />
    <!-- Components -->
    <add key="amcharts_net_key" value="" />
    <add key="ComponentArtScriptControls" value="Grid,Menu,Calendar,SiteMap,TabStrip,Slider" />
    <!-- SSL -->
    <add key="SSL_GoDaddy_Seal_Id" value="" />
    <!-- SMTP -->
    <add key="MailMethod" value="SMTP" />
    <!-- SMTP or DB -->
    <add key="SmtpServer" value="" />
    <add key="SmtpPort" value="" />
    <add key="SmtpSSL" value="" />
    <add key="SmtpUser" value="" />
    <add key="SmtpPass" value="" />
    <add key="AuditEmail" value=""/>
    <!-- PayPal -->
    <add key="PayPal_Account" value="" />
    <add key="PayPal_Url" value="" />
    <add key="PayPal_Notify_Url" value="" />
    <!-- Amazon Cloud -->
    <add key="AWSAccessKey" value="" />
    <add key="AWSSecretKey" value="" />
    <add key="AWSBucketName" value="" />
    <add key="AWSBucketUrl" value="" />
    <add key="AWSCloudFront" value="" />
    <add key="AWSReducedRedundancy" value="true" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="TempUploadFolder" value=""/>
    <add key="ImagesBaseFolder" value=""/>
    <add key="EmailTemplatesFolder" value=""/>
  </appSettings>
  <connectionStrings>
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime targetFramework="4.5" />
    <sessionState mode="InProc" cookieless="false" timeout="720"/>
    <!-- 
          Set compilation debug="true" to insert debugging 
          symbols into the compiled page. Because this 
          affects performance, set this value to true only 
          during development.
      -->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what TODO if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        <customErrors mode="Off" />
        <customErrors mode="On" defaultRedirect="Error.aspx" />
        -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/ErrorPage.aspx">
      <error statusCode="404" redirect="~/ErrorPage.aspx?code=404"/>
    </customErrors>
    <globalization uiCulture="en" culture="en-US"/>
    <httpHandlers>
      <!--add type="ComponentArt.Web.UI.ScriptHandler,ComponentArt.Web.UI" path="ComponentArtScript.axd" verb="*"/-->
    </httpHandlers>
    <httpModules>
      <!--add name="WebPageSecurity" type="Ventaur.Web.Security.SecureWebPageModule, WebPageSecurity"/-->
    </httpModules>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <!--add name="WebPageSecurity" type="Ventaur.Web.Security.SecureWebPageModule, WebPageSecurity" /-->
    </modules>
    <handlers>
      <add name="ComponentArtScriptHandler" type="ComponentArt.Web.UI.ScriptHandler,ComponentArt.Web.UI" path="ComponentArtScript.axd" verb="*" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="StartPage.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <secureWebPages mode="Off" encryptedUri="" unencryptedUri="" maintainPath="True" warningBypassMode="AlwaysBypass" bypassQueryParamName="BypassSecurityWarning" ignoreHandlers="WithStandardExtensions">
    <files>
      <add path="ChargeAdvertiserCreditCard.aspx" secure="Secure" />
      <add path="CreditPublisherCheck.aspx" secure="Secure" />
      <add path="CreditPublisherBank.aspx" secure="Secure" />
      <add path="CreditPublisherPayPal.aspx" secure="Secure" />
      <add path="CreditDeveloperCheck.aspx" secure="Secure" />
      <add path="CreditDeveloperBank.aspx" secure="Secure" />
      <add path="CreditDeveloperPayPal.aspx" secure="Secure" />
      <add path="Login.aspx" secure="Secure" />
    </files>
    <directories>
      <add path="/" recurse="True" secure="Insecure" />
      <add path="css/" recurse="True" secure="Ignore" />
      <add path="images/" recurse="True" secure="Ignore" />
      <add path="amcharts/" recurse="True" secure="Ignore" />
      <add path="js/" recurse="True" secure="Ignore" />
    </directories>
  </secureWebPages>
</configuration>