<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="secureWebPages" type="Ventaur.Web.Security.Configuration.SecureWebPageSettings, WebPageSecurity" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="urlrewritingnet" restartOnExternalChanges="true" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection,       UrlRewritingNet.UrlRewriter" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <!-- NLog -->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target name="eventViewr" xsi:type="EventLog" layout="${longdate} - ${level}${newline}${newline}${message}${newline}${newline}Caller:${newline}${callsite}${newline}${newline}StackTrace:${newline}${stacktrace}${newline}${newline}Exception:${newline}${exception:format=Message,Type,Method,StackTrace:separator=,}" source="API" log="AdsCaptcha" />
      <target name="toFile" xsi:type="File" layout="${longdate},${logger},${message}" fileName="${basedir}/logs/API.log" archiveFileName="${basedir}/logs/archives/API.{#}.log" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" />
    </targets>
    <rules>
      <logger name="*" minlevel="Off" writeTo="emailGmx" />
      <!-- Error -->
      <logger name="*" minlevel="Off" writeTo="eventViewr" />
      <!-- Trace -->
      <logger name="*" levels="Debug" writeTo="toFile" />
      <!-- Debug -->
    </rules>
  </nlog>
  <appSettings>
    <!-- DB -->
    <add key="ConnectionString" value="" />
    <add key="ConnectionStringUserData" value="" />
    <!-- URLs -->
    <add key="Site" value="" />
    <add key="URL" value="" />
    <add key="API" value="" />
    <!-- Environment -->
    <add key="Version" value="1.0.0.0" />
    <add key="Environment" value="Dev" />
    <add key="UseAmazonOnly" value="false" />
    <!-- Debug / Monitoring -->
    <add key="DebugLogWriting" value="true" />
    <!--<add key="DebugMinDuration" value="200"/>
        <add key="DebugUseCache" value="false"/>
        <add key="DebugCacheRefreshIntervalSec" value="300"/>
        <add key="DebugUseTransactions" value="false"/>
        <add key="DebugForceMatching" value="false"/>
        <add key="DebugForceMatchingForCaptchaId" value="5"/>
        <add key="DebugForceMatchingAdId" value="5,1"/>-->
    <!-- Cache -->
    <add key="cacheMatchingDuration" value="60" />
    <!-- Matching -->
    <add key="numOfMatchAds" value="25" />
    <!-- Slider -->
    <add key="sliderThreshold" value="18" />
    <!-- YBrant Digital -->
    <add key="YBrantURL" value="" />
    <!-- Email -->
    <add key="AdminEmail" value="" />
    <add key="SupportEmail" value="" />
    <add key="AWSBucketName" value="" />
    <add key="AWSAccessKey" value="" />
    <add key="AWSSecretKey" value="" />
    <add key="AWSBucketUrl" value="" />
    <!--add key="AWSBucketUrl" value="" /-->
    <add key="AWSCloudFront" value="" />
    <add key="AWSDomainName" value="" />
    <!-- IP Geo Location API -->
    <add key="IPKey" value="" />
    <add key="CountryDetectionTimeout" value="400" />
    <add key="CountryDetectionTimeoutWriteToLog" value="true" />
    <!-- Cookie Management -->
    <add key="UseCookies" value="true" />
    <add key="CookieName" value="adsCaptcha" />
    <add key="CookieExpirationInDays" value="300" />
    <!--New Slider settings-->
    <add key="APIHelp" value="" />
    <add key="NewSliderCaptchas" value="" />
    <add key="AudioDirectory" value="" />
    <add key="FeedbackRecepients" value="" />
    <add key="CSSImagesFolder300" value="" />
    <add key="CSSImagesFolder180" value="" />
    <add key="DefaultCaptcha" value="" />
    <add key="YBrantURLNew" value="" />
    <add key="YBrantAdvertiser" value="" />
    <add key="ImagesBaseFolder" value="" />
    <add key="TempUploadFolder" value="" />
    <add key="StaticContentUrl" value="" />
    <add key="JsLoaderUrl" value="" />
    <add key="GeoIpPath" value="" />
    <add key="Sprite.EffectTypeId" value="1" />
    <add key="RequestCacheTimeoutSec" value="1200" />
    <add key="Sprite.LowQuality" value="0L" />
    <add key="Sprite.LowQuality.Enable" value="true" />
    <add key="Sprite.Quality" value="70" />
    <add key="Sprite.MaxFrames" value="40" />
    <add key="Sprite.MinFrames" value="30" />
    <add key="Sprite.UseHistoryAfterMinutes" value="1" />

    <!--Redis-->
    <add key="Redis.ServerIP" value="" />
    <add key="Redis.ServerPort" value="" />

    <add key="Request.Sync" value="false" />
    <add key="Inqwise.DefaultGuid" value="" />
    

    <add key="Slider.DefaultLikeUrl" value="" />
    <add key="ElasticSearch.Url" value="" />
    
    <add key="EmailTemplatesFolder" value=""/>
    <!-- SMTP -->
    <add key="MailMethod" value="SMTP" />
    <!-- SMTP or DB -->
    <add key="SmtpServer" value="" />
    <add key="SmtpPort" value="" />
    <add key="SmtpSSL" value="true" />
    <add key="SmtpUser" value="" />
    <add key="SmtpPass" value="" />
    <add key="AuditEmail" value=""/>
    

  </appSettings>
  <connectionStrings>
  </connectionStrings>
  <system.web>
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" numRecompilesBeforeAppRestart="1" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Runtime.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <customErrors mode="RemoteOnly" />
    <globalization uiCulture="en" culture="en-US" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="ConfigFiles" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
  <secureWebPages mode="Off" encryptedUri="https://api" unencryptedUri="http://api" maintainPath="True" warningBypassMode="AlwaysBypass" bypassQueryParamName="BypassSecurityWarning" ignoreHandlers="WithStandardExtensions">
    <files>
      <add path="Ad.aspx" secure="Ignore" />
      <add path="Banner.aspx" secure="Ignore" />
      <add path="Challenge.aspx" secure="Ignore" />
      <add path="Click.aspx" secure="Ignore" />
      <add path="Get.aspx" secure="Ignore" />
      <add path="NoScript.aspx" secure="Ignore" />
      <add path="Refresh.aspx" secure="Ignore" />
      <add path="Slide.aspx" secure="Ignore" />
      <add path="Validate.aspx" secure="Ignore" />
      <add path="Viewed.aspx" secure="Ignore" />
      <add path="adscaptcha.js" secure="Ignore" />
      <add path="AdsCaptchaGames.swf" secure="Ignore" />
    </files>
    <directories>
      <add path="/" recurse="True" secure="Ignore" />
    </directories>
  </secureWebPages>
  <system.net>
    <mailSettings>
      <smtp from="">
        <network host="" port="" userName="" password="" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IExchangeService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IExchangeService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://adexc1/ExchangeService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExchangeService" contract="ExchangeServiceReference.IExchangeService" name="BasicHttpBinding_IExchangeService" />
      <endpoint address="http://adexc1/ExchangeService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExchangeService1" contract="AdsCaptcha.API.ExchangeServiceReference.IExchangeService" name="BasicHttpBinding_IExchangeService1" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>